{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "semi": [
      2,
      "always"
    ],
    "quotes": [
      2,
      "single"
    ],
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "no-empty-function": "error",
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "prefer-const": "error",
    "no-array-constructor": "error",
    "@typescript-eslint/typedef": [
      "error",
      {
        "variableDeclaration": true,
        "parameter": true
      }
    ],
    "@typescript-eslint/explicit-function-return-type": [
      "error"
    ]
  }
}