.vscode/
built/
node_modules/
dist/
coverage/
.nyc_output/
.scannerwork/
.scannerwork/**/*
/cypress/integration/1-getting-started
/cypress/integration/2-advanced-examples
/cypress/videos
/cypress/screenshots